In [26]:
import json
# from pandas.io.json import json_normalize
from pandas import json_normalize
from datetime import datetime
from collections import defaultdict
import pandas as pd
from bs4 import BeautifulSoup as bs

In [17]:
dataframe = pd.read_csv('qweqwe.csv')
# df = dataframe[['id','name']]
df = dataframe[['id',
           'name',
           'has_test',
           'published_at',
           'created_at',
           'url',
           'area.name',
           'salary.from',
           'salary.to',
           'salary.currency',
           'salary.gross',
           'address.city',
           'address.street',
           'address.building',
           'address.raw',
           'address.metro.station_name',
           'employer.id',
           'employer.name',
           'snippet.requirement',
           'snippet.responsibility',
           'contacts.name',
           'contacts.email'
          ]]

In [21]:
df.head(3)

,id,name,has_test,published_at,created_at,url,area.name,salary.from,salary.to,salary.currency,...,address.street,address.building,address.raw,address.metro.station_name,employer.id,employer.name,snippet.requirement,snippet.responsibility,contacts.name,contacts.email
0,35768680,Разработчик на PYTHON,False,2020-05-05T12:39:09+0300,2020-05-05T12:39:09+0300,https://api.hh.ru/vacancies/35768680?host=hh.ru,Москва,200000.0,350000.0,RUR,...,Люсиновская улица,36с1,"Москва, Люсиновская улица, 36с1",Серпуховская,2156510,Бизнес Успех,Опыт работы в области создания программного об...,...<highlighttext>Python</highlighttext>. Учас...,Жданова Ирина,i.zhdanova@2550755.ru
1,36749189,Middle / Senior Python разработчик,False,2020-05-05T11:26:00+0300,2020-05-05T11:26:00+0300,https://api.hh.ru/vacancies/36749189?host=hh.ru,Москва,NaN,NaN,NaN,...,Варшавское шоссе,9с1Б,"Москва, Варшавское шоссе, 9с1Б",Тульская,1975782,Айтаргет,Опыт работы с <highlighttext>Python</highlight...,Разрабатываем собственную платформу с пользова...,Гаспарян Аревик,a.gasparyan@aitarget.com
2,36686761,Программист Python/Wolfram Mathematica,False,2020-05-05T11:42:20+0300,2020-05-05T11:42:20+0300,https://api.hh.ru/vacancies/36686761?host=hh.ru,Москва,NaN,NaN,NaN,...,Очаковское шоссе,34,"Москва, Очаковское шоссе, 34",Проспект Вернадского,2620493,IntergridMidwest Group LLC (ИП Кляхандлер М.Л.),"Высшее техническое образование (математики, фи...","Поддерживать и улучшать имеющиеся программы, п...",NaN,NaN

In [25]:
renamed_df = df.rename(columns={
    'area.name':'area_name',
    'salary.from':'salary_from',
    'salary.to':'salary_to',
    'salary.currency':'salary_currency',
    'address.street':'address.street',
    'address.building':'address_building',
    'address.raw':'address_raw',
    'address.metro.station_name': 'metro_name',
    'employer.id': 'employer_id',
    'employer.name': 'employer_name',
    'snippet.requirement': 'snippet_requirement',
    'snippet.responsibility': 'snippet_responsibility',
    'contacts.name': 'contacts_name',
    'contacts.email': 'contacts_email',
    })

In [40]:
def clean_data(row):
    # TODO change try to regex
    try:
        soup = bs(row, 'html.parser')
        return soup.text
    except TypeError:
        return None
renamed_df['snippet_requirement'] = renamed_df['snippet_requirement'].apply(lambda x: clean_data(x))
renamed_df['snippet_responsibility'] = renamed_df['snippet_responsibility'].apply(lambda x: clean_data(x))
# renamed_df['snippet_requirement'].describe()
# renamed_df['snippet_requirement']
renamed_df['snippet_responsibility']

0      ...Python. Участие в проектировании архитектур...
1      Разрабатываем собственную платформу с пользова...
2      Поддерживать и улучшать имеющиеся программы, п...
3                                                   None
4      You will be involved in Internal build system ...
                             ...
195    Разработка middleware для работы с S3 хранилищ...
196    CM.Expert — единственная в России платформа, п...
197    Тестирование продуктов компании, а именно ВАТС...
198    Составлять дашборды, отчеты, регулярные рассыл...
199    Разработка автоматизированных тестов в соответ...
Name: snippet_responsibility, Length: 200, dtype: object

In [45]:

renamed_df['published_at'] = pd.to_datetime(renamed_df['published_at'])
renamed_df['created_at'] = pd.to_datetime(renamed_df['created_at'])
renamed_df.head(5)

,id,name,has_test,published_at,created_at,url,area_name,salary_from,salary_to,salary_currency,...,address.street,address_building,address_raw,metro_name,employer_id,employer_name,snippet_requirement,snippet_responsibility,contacts_name,contacts_email
0,35768680,Разработчик на PYTHON,False,2020-05-05 12:39:09+03:00,2020-05-05 12:39:09+03:00,https://api.hh.ru/vacancies/35768680?host=hh.ru,Москва,200000.0,350000.0,RUR,...,Люсиновская улица,36с1,"Москва, Люсиновская улица, 36с1",Серпуховская,2156510,Бизнес Успех,Опыт работы в области создания программного об...,...Python. Участие в проектировании архитектур...,Жданова Ирина,i.zhdanova@2550755.ru
1,36749189,Middle / Senior Python разработчик,False,2020-05-05 11:26:00+03:00,2020-05-05 11:26:00+03:00,https://api.hh.ru/vacancies/36749189?host=hh.ru,Москва,NaN,NaN,NaN,...,Варшавское шоссе,9с1Б,"Москва, Варшавское шоссе, 9с1Б",Тульская,1975782,Айтаргет,Опыт работы с Python3. Уверенные знания Django...,Разрабатываем собственную платформу с пользова...,Гаспарян Аревик,a.gasparyan@aitarget.com
2,36686761,Программист Python/Wolfram Mathematica,False,2020-05-05 11:42:20+03:00,2020-05-05 11:42:20+03:00,https://api.hh.ru/vacancies/36686761?host=hh.ru,Москва,NaN,NaN,NaN,...,Очаковское шоссе,34,"Москва, Очаковское шоссе, 34",Проспект Вернадского,2620493,IntergridMidwest Group LLC (ИП Кляхандлер М.Л.),"Высшее техническое образование (математики, фи...","Поддерживать и улучшать имеющиеся программы, п...",NaN,NaN
3,36769687,Senior Data Scientist,False,2020-05-05 12:47:09+03:00,2020-05-05 12:47:09+03:00,https://api.hh.ru/vacancies/36769687?host=hh.ru,Москва,300000.0,NaN,RUR,...,улица Бутлерова,17,"Москва, улица Бутлерова, 17",Калужская,4111056,Gradient,Имеет опыт работы в качестве Data Scientist от...,None,NaN,NaN
4,36752074,Python Developer,False,2020-05-05 14:01:52+03:00,2020-05-05 14:01:52+03:00,https://api.hh.ru/vacancies/36752074?host=hh.ru,Санкт-Петербург,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1245452,Cloud Linux,Good knowledge of Python. Strong operational e...,You will be involved in Internal build system ...,NaN,NaN

In [47]:
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      200 non-null    int64
 1   name                    200 non-null    object
 2   has_test                200 non-null    bool
 3   published_at            200 non-null    datetime64[ns, pytz.FixedOffset(180)]
 4   created_at              200 non-null    datetime64[ns, pytz.FixedOffset(180)]
 5   url                     200 non-null    object
 6   area_name               200 non-null    object
 7   salary_from             93 non-null     float64
 8   salary_to               61 non-null     float64
 9   salary_currency         102 non-null    object
 10  salary.gross            102 non-null    object
 11  address.city            109 non-null    object
 12  address.street          108 non-null    object
 13  address_building        104 non-null    object
 14  address_raw             111 non-null    object
 15  metro_name              76 non-null     object
 16  employer_id             200 non-null    int64
 17  employer_name           200 non-null    object
 18  snippet_requirement     196 non-null    object
 19  snippet_responsibility  182 non-null    object
 20  contacts_name           52 non-null     object
 21  contacts_email          51 non-null     object
dtypes: bool(1), datetime64[ns, pytz.FixedOffset(180)](2), float64(2), int64(2), object(15)
memory usage: 33.1+ KB